[
    {
        "url": "fenix.tecnico.ulisboa.pt/example",
        "forms": [
            {
                "fields": [
                    {
                        "name": "studentID",
                        "type": "text",
                        "value": "ist100000"
                    },
                    {
                        "name": "personalEmail",
                        "type": "email",
                        "value": "example@error.com"
                    }
                ],
                "action": "/submit_info.do",
                "method": "GET",
                "error": {
                    "code": "500",
                    "message": "An error occurred."
                }
            },
            {
                "fields": [
                    {
                        "name": "contact",
                        "type": "text",
                        "value": "+351961234567"
                    }
                ],
                "action": "/update_contact.do",
                "method": "POST",
                "error": {
                    "code": "501",
                    "message": "Functionality not implemented."
                }
            }
        ]
    }
]
